<!DOCTYPE html>
<html>
<head>
	<title>Trang chủ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
</head>
<body>
	
	<a onClick="loadBodyHomeDeploy()" id="news_list1">
			CHUYÊN MỤC: TIN TRIỂN KHAI
	</a>
	<a onClick="loadBodyHomeOperation()" id="news_list2">
			CHUYÊN MỤC: TIN HOẠT ĐỘNG
	</a>

	<div class="news">
		<div class="left">
			<a href="#">
				<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
			</a>
		</div>

		<div class="right">
			<h3>Phong trào làm kinh tế vườn ở Vân Canh phát triển khá </h3>
			<p>Theo Hội Làm vườn huyện Vân Canh, phong trào làm vườn trên địa bàn huyện đang có bước phát triển khá. Hiện, toàn huyện có trên 3.106 vườn, tổng diện tích hơn 4.600ha; trong đó có 1.763 vườn nhà, diện tích 95ha; 748 vườn đã cải tạo, tu bổ, chiếm 42,42%; chưa được cải tạo, tu bổ 415 vườn, chiếm 23,53%. Có 587 vườn đồi; 756 vườn rừng, diện tích 1.072ha; chưa được cải tạo, tu bổ 94 vườn chiếm 7%; 1.237 vườn có ô dinh dưỡng,...</p>
			<a href="#">CHI TIẾT</a>
			<span>Ngày đăng: 01/03/2023</span>
		</div>
	</div>

	<div class="news">
		<div class="left">
			<a href="#">
				<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
			</a>
		</div>

		<div class="right">
			<h3>Nông dân Hà Tĩnh giàu lên từ kinh tế vườn</h3>
			<p>Song song với việc thực hiện 19 tiêu chí XDNTM của Chính phủ, Hà Tĩnh còn sáng tạo thêm tiêu chí xây dựng vườn mẫu được người dân hưởng ứng tích cực bởi sự thiết thực. Và việc này đã tạo nên diện mạo mới trong các khu dân cư ở nông thôn.Chủ trương đúngTừ xưa, cha ông ta đã có câu: “Nhất mẫu trạch bằng bách mẫu điền”, có nghĩa: một mẫu vườn bằng trăm mẫu ruộng, để khẳng định vai trò của kinh tế vườn....</p>
			<a href="#">CHI TIẾT</a>
			<span>Ngày đăng: 01/03/2023</span>
		</div>
	</div>

	<div class="news">
		<div class="left">
			<a href="#">
				<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
			</a>
		</div>

		<div class="right">
			<h3>Thăm cây đa di sản đầu tiên ở Thái Bình</h3>
			<p>Trải qua hơn 600 năm với biết bao biến cố thăng trầm của lịch sử, cây đa đình Đông, làng Hổ Đội, xã Thụy Lương (Thái Thụy - Thái Bình) vẫn đứng vững, tỏa bóng hiên ngang. Đây không chỉ là chứng nhân lịch sử gắn bó với con người và mảnh đất nơi đây mà còn là điểm nhấn trong cảnh quan văn hóa làng tiêu biểu của làng quê Hổ Đội nói riêng, làng quê Việt Nam nói chung....</p>
			<a href="#">CHI TIẾT</a>
			<span>Ngày đăng: 01/03/2023</span>
		</div>
	</div>

	<div class="news">
		<div class="left">
			<a href="#">
				<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
			</a>
		</div>

		<div class="right">
			<h3>Cận cảnh quy hoạch siêu đô thị Nhật Tân - Nội Bài</h3>
			<p>Hai bên đường Nhật Tân - Nội Bài có các công trình có chiều cao tối đa lên tới hơn 100 tầng. Tòa nhà cao nhất sẽ nằm ở khu tháp tài chính - thương mại Phương Trạch.Chiều 23/6, tại UBND huyện Đông Anh, Sở Quy hoạch - Kiến trúc Hà Nội đã công bố và bàn giao quy hoạch chi tiết xây dựng (tỷ lệ 1/500) hai bên tuyến đường Nhật Tân – Nội Bài, đoạn 1, đoạn 2 và đoạn 3 cho chính quyền các huyện Đông Anh và Sóc Sơn quản lý...</p>
			<a href="#">CHI TIẾT</a>
			<span>Ngày đăng: 01/03/2023</span>
		</div>
	</div>

	<a href="#" id="formore">ĐỌC THÊM</a>
</body>
</html>