<!DOCTYPE html>
<html>
<head>
	<title>Trang chủ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
</head>
<body>
		<a onClick="loadBodyHomeDeploy()" id="news_list1">
			CHUYÊN MỤC: TIN TRIỂN KHAI
		</a>
		<a onClick="loadBodyHomeOperation()" id="news_list2">
			CHUYÊN MỤC: TIN HOẠT ĐỘNG
		</a>
	
		<div class="news">
			<div class="left">
				<a href="#">
					<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
				</a>
			</div>
	
			<div class="right">
				<h3>Khốn khổ vì thiếu cây xanh</h3>
				<p>Với hơn 10 triệu dân cùng tốc độ đô thị hóa chóng mặt, diện tích cây xanh trên đầu người tại TP Hồ Chí Minh hiện ở mức rất thấp, lại bị cắt xén nhiều. Việc phục hồi mảng xanh, xây dựng công viên đang "giậm chân tại chỗ" do nhiều nguyên nhân khiến môi trường sống của người dân ngày càng ngột ngạt. Tình trạng khốn khổ vì thiếu cây xanh đang hiện hữu ở nhiều khu vực nội đô của TP Hồ Chí Minh...</p>
				<a href="#">CHI TIẾT</a>
				<span>Ngày đăng: 01/03/2023</span>
			</div>
		</div>
	
		<div class="news">
			<div class="left">
				<a href="#">
					<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
				</a>
			</div>
	
			<div class="right">
				<h3>Khởi động tết trồng cây và tháng thanh niên</h3>
				<p>Sáng ngày 1/3 tại Khu Di tích K9 - Đá Chông (Ba Vì, Hà Nội), Đoàn TNCS Hồ Chí Minh Khối Doanh nghiệp Trung ương (DNTW) phối hợp cùng Bộ Tư lệnh Bảo vệ Lăng Chủ tịch Hồ Chí Minh phát động Tết trồng cây "Đời đời nhớ ơn Bác Hồ" và khởi động Tháng Thanh niên 2016. Đến dự Lễ phát động có đồng chí Nguyễn Quang Dương, Ủy viên Trung ương Đảng, Phó Bí thư Thường trực Đảng ủy Khối DNTW;...</p>
				<a href="#">CHI TIẾT</a>
				<span>Ngày đăng: 01/03/2023</span>
			</div>
		</div>
	
		<div class="news">
			<div class="left">
				<a href="#">
					<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
				</a>
			</div>
	
			<div class="right">
				<h3>Cử người đi học trồng cây</h3>
				<p>Mới đây, Văn Phòng UBND TP Hà Nội phát đi Thông báo về công tác cắt tỉa cây xanh và trồng mới thay thế trên các tuyến phố.Trong đó, đáng chú ý có nội dung cử cán bộ đi ra nước ngoài học tập ngắn hạn kỹ thuật cắt tỉa, trồng mới cây xanh.“Sở Nội vụ chủ trì, phối hợp với Cty TNHH MTV Công viên cây xanh Hà Nội, nghiên cứu, tổ chức lại bộ máy tổ chức của Công ty theo hướng: Thành lập các đơn vị cắt tỉa chuyên nghiệp;...</p>
				<a href="#">CHI TIẾT</a>
				<span>Ngày đăng: 01/03/2023</span>
			</div>
		</div>
	
		<div class="news">
			<div class="left">
				<a href="#">
					<img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-vector-newspaper-icon-png-image_1577280.jpg">
				</a>
			</div>
	
			<div class="right">
				<h3>Đắk Nông tập trung cây trồng thế mạnh</h3>
				<p>Theo ông Hồ Gấm, Phó GĐ Sở NN-PTNT Đăk Nông, hiện nay cơ cấu nông nghiệp của Đắk Nông cơ bản vẫn tập trung vào những loại cây chủ lực có lợi thế là ngô, hồ tiêu, cà phê, cao su.Định hình cây chủ lực Với lợi thế về đất đai, Đắk Nông có đến trên 535.000 ha đất đỏ vàng, chiếm 82,14% diện tích tự nhiên, trong đó nhóm đất nâu đỏ trên đá mácma có 315.000 ha,...</p>
				<a href="#">CHI TIẾT</a>
				<span>Ngày đăng: 01/03/2023</span>
			</div>
		</div>
	
		<a href="#" id="formore">ĐỌC THÊM</a>
</body>
</html>