<!DOCTYPE html>
<html lang="en">
<head>
	<title>Liên hệ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" th:href="@{css/Contact.css}">
</head>
<body>
	<div id="contact" style="margin-top: 50px;">
		<div id="contact_left">
			<p id="title">Thông tin liên hệ</p>
			<p><i class="fas fa-location-arrow fa-lg" style="color: #01DF74"></i><span>Địa chỉ: 08 Hà Văn Tính - Hoà Khánh- Đà Nẵng</span></p>
			<p><i class="fas fa-envelope fa-lg" style="color: #01DF74"></i><span>Thư điện tử: treemanager@gmail.com</span></p>
			<p><i class="fas fa-phone-alt fa-lg" style="color: #01DF74"></i><span>Điện thoại: 0969740123</span></p>
		</div>

		<div id="contact_right">
			<p id="title">Gửi thông tin yêu cầu cho chúng tôi</p>
			<input type="text" name="name" placeholder="Tên">
			<input type="text" name="gmail" placeholder="Thư điện tử">
			<input type="text" name="phone_number" placeholder="Số điện thoại">
			<textarea placeholder="Nội dung"></textarea>
			<a href="#">GỬI</a>
		</div>
	</div>
</body>
</html>