<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlcx.system.mapper.ProvincesMapper">
    
    <resultMap type="Provinces" id="ProvincesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="slug"    column="slug"    />
        <result property="countryId"    column="country_id"    />
        <result property="delete"    column="delete"    />
    </resultMap>

    <sql id="selectProvincesVo">
        select id, name, slug, country_id from provinces
    </sql>

    <select id="selectProvincesList" parameterType="Provinces" resultMap="ProvincesResult">
        select id, name from provinces
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="slug != null  and slug != ''"> and slug = #{slug}</if>
            <if test="countryId != null "> and country_id = #{countryId}</if>
            <if test="delete != null "> and delete = #{delete}</if>
        </where>
    </select>
    
    <select id="selectProvincesById" parameterType="Long" resultMap="ProvincesResult">
        <include refid="selectProvincesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProvinces" parameterType="Provinces" useGeneratedKeys="true" keyProperty="id">
        insert into provinces
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="slug != null  and slug != ''">slug,</if>
            <if test="countryId != null ">country_id,</if>
            <if test="delete != null ">delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="slug != null  and slug != ''">#{slug},</if>
            <if test="countryId != null ">#{countryId},</if>
            <if test="delete != null ">#{delete},</if>
         </trim>
    </insert>

    <update id="updateProvinces" parameterType="Provinces">
        update provinces
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="slug != null  and slug != ''">slug = #{slug},</if>
            <if test="countryId != null ">country_id = #{countryId},</if>
            <if test="delete != null ">delete = #{delete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProvincesById" parameterType="Long">
        delete from provinces where id = #{id}
    </delete>

    <delete id="deleteProvincesByIds" parameterType="String">
        delete from provinces where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>