<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('')" />
    <th:block th:include="include :: datetimepicker-css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <style>
            .select2-container {
                border: 1px solid #e5e6e7;
                border-radius: 2px;
                padding-top: 3px;
            }
           .select2-container .select2-selection__rendered
           {
           		padding-top: 5px;
           }
           .select2-container .selection .select2-selection--multiple
           {
           		    min-height: 28px;
           }
           .inp-select{
           		border: 1px solid #e5e6e7;
                border-radius: 2px;
                padding: 7px;
                width: 100%;	
           }
			.select2-selection--multiple
           {
           		border: solid #fff 1px !important;
           }
           .select2-selection__choice {
           		color:black !important;
           }

    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-work-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Mô tả công việc：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Cây chăm sóc：</label>
                <div class="col-sm-8">
                     <select class="js-example-basic-multiple" name="lTree" multiple="multiple" style="width:100%;height:30px ">
                    	<th:block th:each="item, iState : ${listTree}">
                    			<option  th:value="${item.id}" th:text="${item.treeCode}+' - '+${item.name}" ></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Công cụ：</label>
                <div class="col-sm-8">
                     <select class="js-example-basic-multiple" name="lTool" multiple="multiple" style="width:100%;height:30px ">
                    	<th:block th:each="item, iState : ${listTool}">
                    			<option  th:value="${item.id}" th:text="${item.name}" ></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Nhân viên：</label>
                <div class="col-sm-8">
                     <select class="js-example-basic-multiple" name="lEmployee" multiple="multiple" style="width:100%;height:30px ">
                    	<th:block th:each="item, iState : ${listEmployee}">
                    			<option  th:value="${item.id}" th:text="${item.name}" ></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Công việc：</label>
                <div class="col-sm-8">
                     <select class="js-example-basic-multiple" name="listWork" multiple="multiple" style="width:100%;height:30px ">
                    	<option  th:value="1">Tưới cây</option>
                    	<option  th:value="2">Bón phân</option>
                    	<option  th:value="3" >Tỉa lá</option>
                    	<option  th:value="4">Chống cây</option>
                    	<option  th:value="5">Vệ sinh quanh gốc</option>
						<option  th:value="6">Trồng cây mới</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Ngày bắt đầu：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="startDay" class="form-control" placeholder="yyyy-MM-dd" type="date" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Ngày kết thúc：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="endDay" class="form-control" placeholder="yyyy-MM-dd" type="date" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Mức độ ưu tiên：</label>
                <div class="col-sm-8">
                    <input name="level" class="form-control" type="text" required>
                </div>
            </div>
            
           <div class="form-group">    
                <label class="col-sm-3 control-label">Trạng thái：</label>
                    <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input  value="1" name="status" type="checkbox" id="status" > 
                        <span></span>
                    </label>
         
                </div>
            </div>
			<div class="form-group">    
                <label class="col-sm-3 control-label">Ngoại lệ：</label>
                    <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input  value="1" name="excep" type="checkbox" id="excep" >
                        <span></span>
                    </label>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Tạo mã xin vui lòng chọn thuộc tính từ điển</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        var prefix = ctx + "system/work"
        $("#form-work-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-work-add').serialize());
            }
        }

		$(".js-example-basic-multiple").select2();
    </script>
</body>
</html>